.category-nav-bar-styles {
    width: 99vw;
    display: flex;
    flex-direction: row;

}
.shop-container {
    margin: unset;
}
.shop-navbar {
    margin-left: 10vw;
}
.shop-alignment {
    width: 100vw;
    display: flex;
    cursor: context-menu;
}

.shop-products-alignment {
    width: 75vw;
}

.shop-category-alignment {
    width: auto;
    margin-left: 9.2vw;
    display: flex;
    justify-content: right;
    flex-direction: column;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: rgba(0, 0, 0, 0.86);
    border-radius: 0;
    border: none;
}

.card-brands-styles:hover {
    font-weight: bold;
}

.card-brands-styles {
    margin: 2%;
    border-radius: 0;
    border: none;
}

.dropdown-category-item {
    display: flex;
    flex-direction: row;
}

.admin-add-products-button {
    width: 8vw;
    height: 7vh;
    background-color: rgba(61, 92, 87, 0.87) !important;
    border: none !important;
    border-radius: 0;
    color: #ffffff !important;
}

.admin-add-products-button:hover {
    border: none !important;
}

.devices-width, .mt-1 {
    width: 29% !important;
}

.card-device-item-styles {
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}

.products-card-styles {
    width: 310px;
    margin-bottom: 1vw;
    cursor: pointer;
    border-radius: 2%;
    box-shadow: 4px 1px 10px 2px rgba(117, 117, 117, 0.45);
}

.breadcrumbs-styles,
.css-zr39bh-MuiTypography-root-MuiLink-root,
.breadcrumbs-styles,
.css-zr39bh-MuiTypography-root-MuiLink-root:hover,
.css-zr39bh-MuiTypography-root-MuiLink-root:active {
    cursor: pointer;
    /*font-family: montserrat, sans-serif;*/
    color: rgba(87, 103, 92, 0.76) !important;
    text-decoration: underline;
    text-decoration-thickness:1px;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: rgba(61, 92, 87, 0.84);
    border-color: rgba(61, 92, 87, 0.84);
}

.page-link {
    color: #3d5c57;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-link:hover {
    color: #3d5c57 !important;
}

.pagination-align-styles {
    display: flex;
    justify-content: center;
}
.shop-container-order-h1-styles{
    display: flex;
    justify-content: center;
    font-size: 24px;
    padding: 1%;
    margin: 1%;
    border-bottom: 1px solid rgba(61, 92, 87, 0.55);
    font-family: futura-lt-w01-light, futura-lt-w05-light, sans-serif;
}
.my-devices-alignment{
    display: flex;
    justify-content: center;
}
.pagination-align-styles-dev{
    margin-right: 10%;
}
